<div id="<%= dom_id post %>">
  <p>
    <strong>
    <% if post.user.present? %>
      <%= "@" + post.user.username %>
    <% else %>
      Anonymous
    <% end %>
    </strong>
  </p>

  <h2>
    <%= post.title %>
  </h2>

  <p>
    <%= post.content %>
  </p>


</div>
